target
**/target
Config.toml
config.toml
Config.*.toml
config.*.toml
!Config.example.toml
.direnv

node_modules/
debug/
**/*.rs.bk
# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb
# dev data folder
.vps
admin-site/tailwind.config.js
