layout {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
    pane split_direction="vertical" {
        pane borderless=false command="cargo" {
        	args "run" "--package" "vps-rpc"
        }
	    pane borderless=false command="cargo" {
	    	args "run" "--package" "vps-api"
	    }
	    pane borderless=false command="cargo" {
	    	args "run" "--package" "cron-ddns"
	    }
    }
    pane split_direction="vertical" {
	    pane borderless=false command="nix" {
	    	args "run" ".#rpcWeb"
	    }
		pane borderless=false
	}
}
